body{
	position: relative;
	width: 100%;
	height: 100%;
	margin:0;
	padding-top: 40px;
}
section{
	height: 100vh;

}
.navbar-fixed-top{
	margin-bottom: 0px;
	font-size: 15px;
}
.dropfade{
	position: absolute;
	text-align: left;
	opacity: 0;
	height: auto;
	background-color: rgba(0,0,0,0);
	color: white;
	-webkit-transition: all 0.7s;
	-moz-transition: all 0.7s;
	transition: all 0.7s;
	z-index: -1;
	margin-top: -200px;
	box-shadow: 5px 5px 20px black;
}
.dropfade a{
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	width: 150px;
	display: block;
	background-color: #4E5D6C;
	color:white;
	padding: 10px;
	padding-left: 10px;

}
.dropfade a:hover{
	background-color: #303030;
}
.navbar-right li{
	margin: 0px 10px;
}
#refs{
	height: 300px;
	width: 200px;
	margin-left: 20px;
	color: black;
	background-color: rgba(255,255,255,0.7);
	padding: 10px;
	padding-top: 25px;
}
#refs p{
	font-size: 16px;
}
.item {
	margin: 10px;
	height: 200px; 
	padding: 10px;
	text-align: center;
	vertical-align: middle;
	color: white;
	text-decoration: none;
	cursor: pointer;
}
.item:hover{
	animation: swing 0.5s;
	-webkit-animation: swing 0.5s;
}
a:hover{
	text-decoration: none;
}
.green{
	background-color: rgba(92,184,92, 0.9);
}
.blue{
	background-color: rgba(91,192,222,0.9);
}
.red{
	background-color: rgba(217,83,79,0.9);
}
i{
	margin-left: 40px;
}
.fa-money{
	color: rgba(92,184,92, 0.9);
}
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 1s infinite;
    -moz-animation: blink 1s infinite;
    animation: blink 1s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}